<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>🏴‍☠️여러 개의 상품 자료 출력🏴‍☠️</h2>
<table border="1">
	<tr>
		<th>INDEX</th><th>아이디</th><th>상품명</th><th>가격</th><th>등록일</th>
	</tr>
	<tr th:each=dto,status:${dtos}>
		<td th:text=${status.index}></td> <!-- index는 키워드. dto와 status는 우리가 정의한 이름 -->
		<td th:text=${dto.id}></td>
		<td th:text=${dto.name}></td>
		<td th:text=${dto.price}></td>
		<td th:text=${dto.regDate}></td>
	</tr>
</table>
</body>
</html>