<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
th {
	text-align: center;
	background-color: skyblue;
}
body {
	font-family: 'Kyobo Handwriting 2023 wsa';
}
</style>
</head>
<body>
<h2>🩵[[${jikwon.name}]] [[${jikwon.jik}]]의 관리고객 🩵</h2>
<table border="1">
	<tr>
		<th>고객번호</th><th>고객명</th><th>성별</th><th>나이</th><th>전화</th>
	</tr>
	<tr th:each="gogek:${list}">
		<td th:text="${gogek.no}">no</td>
		<td th:text="${gogek.name}">name</td>
		<td th:text="${gogek.gen}">gen</td>
		<td th:text="${gogek.age}">age</td>
		<td th:text="${gogek.tel}">tel</td>
	</tr>
</table>
</body>
</html>