<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>자료 목록</h1>
<div>
	<a th:href="@{/insert}">자료 추가</a>
</div>

<table>
	<tr>
		<th>번호</th><th>이름</th><th>전화</th><th>직업</th><th>사진</th>
	</tr>
	<tr th:each="friend:${friends}">
		<td th:text="${friend.bunho}"></td>
		<td th:text="${friend.irum}"></td>
		<td th:text="${friend.junhwa}"></td>
		<td th:text="${friend.jikup}"></td>
		<td>
			<img th:src="'data:' + ${friend.imagetype} + ';base64,' + ${friend.base64Image}"  style="width:150px; height:auto"> 
		</td>
	</tr>
</table>
</body>
</html>