<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<select id="getList" resultType="mem">
	SELECT num, name, addr FROM memrest 
	</select>
	
	<select id="getData" parameterType="int" resultType="mem">
	SELECT num, name, addr FROM memrest WHERE num = #{num}
	</select>
	
	<insert id="insert" parameterType="mem">
	INSERT INTO memrest(name,addr) VALUES(#{name},#{addr})
	</insert>
	
	<update id="update" parameterType="mem">
	UPDATE memrest SET name=#{name}, addr=#{addr} WHERE num=#{num}
	</update>
	
	<delete id="delete" parameterType="int">
	DELETE FROM memrest WHERE num=#{num}
	</delete>
</mapper>