<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>자료 수정</h2>
<form th:action="@{/update}" method="post" th:object="${mem}">
	ID: [[*{id}]]<input type="hidden" th:field="*{id}"><br>
	Password: <input type="text" th:field="*{passwd}"><br>
	Name: <input type="text" th:field="*{name}"><br><br>
	<input type="button" value="이전" onclick="history.back()">
	<input type="reset" value="초기화">
	<input type="submit" value="수정하기">
</form>
</body>
</html>